@model int

<div class="container  pt-4">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">Tatiliniz Onaylandı!</h1>
        Rezervasyon Numaranız : @Model  <br />
        <p>Tüm rezervasyon ayrıntılarını Rezervasyonlarım bölümünde görüntüleyebilirsiniz.</p>
        <img src="~/images/orderConfirmed.jpg" style="border-radius:20px" width="65%" />
    </div>
    <div class="col-12 text-center text-warning">
        <p class="pt-1">Bavullarınızı toplayın! Muhteşem bir tatile bir adım daha yaklaştınız!</p>
    </div>

</div> 