
<
<div class="card-body border p-4">

	<table id="tblBookings" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Ad-Soyad</th>
				<th>Telefon Numarası</th>
				<th>Email</th>
				<th>Durum</th>
				<th>Giriş Tarihi</th>
				<th>Gece Sayısı</th>
				<th>Toplam Fiyat</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		
		</tbody>
	</table>
</div>


@section Scripts{
	<script src="/js/booking.js"></script>
}